################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generated/StaticDictionary.Generator/StaticDictionary.StaticDictionaryGenerator
/StaticDictionary/bin
/StaticDictionary/obj
/StaticDictionary.Interface/bin
/StaticDictionary.Interface/obj
/StaticDictionaryLib/bin
/StaticDictionaryLib/obj
/TestGenerator/bin
/TestGenerator/obj
